/* body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    margin: 50px;
} */

h1 {
    color: #7E0FC5;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FF0000;
}

p {
    font-family: 'Fira Sans', sans-serif;
    color: #534b4b;
}

ol {
    list-style: none;
}

li {
    list-style: square;
}